.hidden {
    display: none;
}
div.traffic-table div.subheader {
    padding: 0.4em 0;
    background-color: #3E6A8C;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 0.7em;
    font-weight: 400;
    cursor: help;
    margin-bottom: 2px;
}

@keyframes slidein {
 0% {
  /*-webkit-transform:translateX(50px);
  transform:translateX(50px);*/
  opacity: 0;
  height: 0;
 }
 to {
  opacity:1;
  height: 18px;
  /*-webkit-transform:translateX(0);
  transform:translateX(0)*/
 }
}