<header>
    vat:x
</header>

<article>
    A&nbsp;customizable traffic&nbsp;list&nbsp;for<br />VATSIM&nbsp;controllers.
</article>

<p><br /></p>
<h2>DOWNLOAD</h2>
<table class="downloads">
    <tr>
        <td colspan="2">
            <img style="width:480px; max-width:90%" src="../../images/merged.png" />
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <a href="https://play.google.com/store/apps/details?id=org.trmedia.vatx" target="_blank"><img style="width:200px; max-width:90%" src="../../images/store/en_app_rgb_wo_60.png" /></a>
        </td>
    </tr>
</table>
<footer style="width:50%">
    <div style="width:100%">
        <p><br /></p>
        <h2>Impressum</h2>
        <span style="font-weight:100">The following information (Impressum) is required under German law.</span><br />
        <br /> Responsible for the content of this site:<br />
        <br />
        <b>Tobias Reimann, M.Sc.</b><br /> Gutenbergstr. 5<br /> 35457 Lollar<br /> Germany
        <br />
        <br /> https://tr-media.org
        <br /> &#69;&#45;&#77;a&#105;&#108;&#58;
        <span>{{contact}}</span>
        <p><br /></p>
    </div>
</footer>