<header>
    vat:x
</header>

<article>
    A&nbsp;customizable traffic&nbsp;list&nbsp;for<br />VATSIM&nbsp;controllers.
</article>
<div class="contribh shadow">
    This project is Open Source Software.<br>
    Please feel free to contribute.
</div>
<div class="contrib">
    <div class="section shadow">
        See what's new<br>
        in our <br>
        <a href="https://github.com/tr-media/vatx.net#changelog" target="_blank">Changelog</a>
    </div>
    <div class="section shadow">
            Reports bugs<br>
            and feedback on<br>
            <a href="https://github.com/tr-media/vatx.net/issues" target="_blank">GitHub</a>
    </div>
    <div class="section shadow">
            Use vat:x in<br>
            your own projects<br>
            <a href="https://vatx.herokuapp.com" target="_blank">API</a>
    </div>
</div>
<table class="downloads">
    <tr>
        <td colspan="2">
            <img style="width:480px; max-width:90%" src="../../images/merged.png" />
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <a href="https://play.google.com/store/apps/details?id=org.trmedia.vatx" target="_blank"><img style="width:200px; max-width:90%" src="../../images/store/en_app_rgb_wo_60.png" /></a>
        </td>
    </tr>
</table>
<div class="imprint shadow">
    <div class="content">
        <h2>About</h2>
        Developed by Tobias Reimann<br /><a href="https://www.tobias-reimann.com/impressum/">Impressum</a> | <a href="https://www.tobias-reimann.com/datenschutz/">Datenschutz</a>
    </div>
</div>