header {
    font-family: 'Ubuntu', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
}

footer {
    margin-bottom: 32pt;
    font-family: 'Ubuntu', sans-serif;
    clear: both;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

article {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10;
    /*border:1px solid #95b3ca;*/
    /*background-color:rgba(84,144,191,0.5);*/
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
}

div.half {
    color: white;
    font-size: 12pt;
    width: 50%;
    float: left;
    margin-bottom: 2em;
    -moz-transition: ease all 500ms;
    -o-transition: ease all 500ms;
    -webkit-transition: ease all 500ms;
    transition: ease all 500ms;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
}

table.downloads {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    border-collapse: collapse;
}

table.downloads th {
    text-align: center;
    padding: 10;
    font-weight: 400;
}

table.downloads td {
    text-align: center;
    padding: 10;
    height: 70;
}

div.contrib {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

div.contrib div.section {
    color: #2d2d2d;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 220px;
    background-color: white;
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
}

div.contrib div.section a {
    display: inline-block;
    color: #2d2d2d;
    font-size: 1.1em;
    font-weight: bold;
    padding-top:10px;
}

div.contribh {
    border-radius: 3px;
    font-style: italic;
    display: inline-block;
    background-color: #2f383f;
    width: 320px;
    max-width: 90%;
    margin-top: 60px;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.imprint {
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-bottom: 30px;
    text-align: left;
    width: 320px;
    max-width: 90%;
    color: #2d2d2d;
    background-color: white;
    border-radius: 3px;
}

div.imprint div.content { 
    padding-left: 20px;
    padding-right: 20px;
}