<header>
    vat:x
</header>

<article>
    A&nbsp;customizable traffic&nbsp;list&nbsp;for<br />VATSIM&nbsp;controllers.
</article>
<div class="contribh shadow">
    This project is Open Source Software.<br>
    Please feel free to contribute.
</div>
<div class="contrib">
    <div class="section shadow">
        See what's new<br>
        in our <br>
        <a href="https://github.com/tr-media/vatx.net#changelog" target="_blank">Changelog</a>
    </div>
    <div class="section shadow">
            Reports bugs<br>
            and feedback on<br>
            <a href="https://github.com/tr-media/vatx.net/issues" target="_blank">GitHub</a>
    </div>
    <div class="section shadow">
            Use vat:x in<br>
            your own projects<br>
            <a href="https://api.vatx.net" target="_blank">API</a>
    </div>
</div>
<table class="downloads">
    <tr>
        <td colspan="2">
            <img style="width:480px; max-width:90%" src="../../images/merged.png" />
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <a href="https://play.google.com/store/apps/details?id=org.trmedia.vatx" target="_blank"><img style="width:200px; max-width:90%" src="../../images/store/en_app_rgb_wo_60.png" /></a>
        </td>
    </tr>
</table>
<div class="imprint shadow">
    <div class="content">
        <h2>Imprint</h2>
        <br />Responsible for the content of this website:<br />
        <br />
        <b>Tobias Reimann, M.Sc.</b><br />Gutenbergstr. 5<br />35457 Lollar<br />Germany
        <br />
        <br />https://tr-media.org
        <br />
        <br />&#69;&#45;&#77;a&#105;&#108;&#58; <span>{{contact}}</span>
    </div>
</div>