<div *ngIf="!trafficService.expanded[flight.callsign]" class="c1">
    <div class="line1">
        {{flight.callsign}}<i class="fa fa-microphone-slash" style="margin-left:5px;font-size:80%" *ngIf="flight.no_voice"></i>
    </div>
</div>
<div *ngIf="!trafficService.expanded[flight.callsign]" class="c2">
    <div class="line1">
        {{flight.realname}}
    </div>
</div>
<div *ngIf="!trafficService.expanded[flight.callsign]" class="c3">
    <div class="line1">
        {{app.preferIcaoCodes ? airport : airportCity || airport}}
    </div>
</div>
<div *ngIf="!trafficService.expanded[flight.callsign]" class="c4">
    <div class="line1">
        {{flight.status_string}}
    </div>
</div>

<div *ngIf="trafficService.expanded[flight.callsign]" class="c1">
    <div class="line1">
        <b>{{flight.callsign}}</b><i class="fa fa-microphone-slash" style="margin-left:5px;font-size:80%" *ngIf="flight.no_voice"></i>
    </div>
    <div class="line2">
        {{callsignAndType}}
    </div>
</div>
<div *ngIf="trafficService.expanded[flight.callsign]" class="c2">
    <div class="line1">
        <b>{{flight.realname}}</b0>
    </div>
    <div class="line2">
        Homebase: {{flight.homebase || 'Unknown'}}
    </div>
</div>
<div *ngIf="trafficService.expanded[flight.callsign]" class="c3">
    <div class="line1">
        <b>{{airportName}} ({{airport}})</b>
    </div>
    <div class="line2">
        {{airportCity || 'Unknown'}}, {{airportCountry || 'Unknown'}}
    </div> 
</div>
<div *ngIf="trafficService.expanded[flight.callsign]" class="c4">
    <div class="line1">
        <b>{{flight.status_string}}</b>
    </div>
    <div class="line2">
        Distance: {{flight.distance_to_destination}} NM
    </div>
</div>