<div *ngIf="!trafficService.expanded[flight.callsign]" class="c1">{{flight.callsign}}<i class="fa fa-microphone-slash" style="margin-left:5px;font-size:80%" *ngIf="flight.no_voice"></i></div>
<div *ngIf="!trafficService.expanded[flight.callsign]" class="c2">{{flight.realname}}</div>
<div *ngIf="!trafficService.expanded[flight.callsign]" class="c3">{{app.preferIcaoCodes ? airport : airportCity || airport}}</div>
<div *ngIf="!trafficService.expanded[flight.callsign]" class="c4">{{flight.status_string}}</div>

<div *ngIf="trafficService.expanded[flight.callsign]" class="c1"><b>{{flight.callsign}}</b><i class="fa fa-microphone-slash" style="margin-left:5px;font-size:80%" *ngIf="flight.no_voice"></i><br><small>{{callsignAndType}}</small></div>
<div *ngIf="trafficService.expanded[flight.callsign]" class="c2"><b>{{flight.realname}}</b><br><small>Homebase: {{flight.homebase || 'Unknown'}}</small></div>
<div *ngIf="trafficService.expanded[flight.callsign]" class="c3"><b>{{airportName}} ({{airport}})</b><br><small>{{airportCity || 'Unknown'}}, {{airportCountry || 'Unknown'}}</small></div>
<div *ngIf="trafficService.expanded[flight.callsign]" class="c4"><b>{{flight.status_string}}</b><br><small>Distance: {{flight.distance_to_destination}} NM</small></div>