div.entry {
    float: left;
    width: 25%;
    color: #2b2b2b;
    background-color: #ffffff;
    font-size: 0.8em;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
@media screen and (max-width: 475px) {
    div.entry {
        width: 33%;
    }
    div.entry.c2 {
        display: none;
    }
}