<div class="half">
    <h2>{{type}}</h2>
    <div class="traffic-table">
        <div class="row header shadow">
            <div class="c1">{{columns[0]}}</div>
            <div class="c2">{{columns[1]}}</div>
            <div class="c3">{{columns[2]}}</div>
            <div class="c4">{{columns[3]}}</div>
        </div>
        <div traffic-list [type]="type" [airport]="airport" *ngFor="let airport of airports" (flightsUpdated)="flightsUpdated($event)"
            [hidden]="!flightCountPerAirport[airport]"></div>
        <div class="row footer shadow">
            <div class="c1"></div>
            <div class="c2"></div>
            <div class="c3"></div>
            <div class="c4"></div>
        </div>
        <div colspan="4" class="extfooter">Total: {{flightCount}}</div>
    </div>
</div>